<a href="https://colab.research.google.com/github/harnalashok/deeplearning/blob/main/simpleNN_churn_modeling_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Last amended: 29th October, 2022
# California Housing Dataset
# Experiments with NN
# https://www.kaggle.com/datasets/camnugent/california-housing-prices

In [24]:
# 1.0
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split

# 1.1
import tensorflow as tf

# 1.2 Helper libraries
import numpy as np
import matplotlib.pyplot as plt

In [27]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
# 2.0 Mount google drive 
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [5]:
# 2.1 Read Bank Customers churn data

path = "/gdrive/MyDrive/Colab_data_files/bank_customers_churn/"

In [6]:
# 2.2
data = pd.read_csv(path + "Churn_Modelling.csv")

In [7]:
# 2.2.1
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [8]:
# 2.2.2
data.shape   # (10000, 14)

(10000, 14)

In [9]:
# 2.3 Pop out target
y = data.pop('Exited')

In [10]:
# 2.3.1
data.shape   # (10000,13)

(10000, 13)

In [11]:
# 3.0 Check NULL
data.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
dtype: int64

In [13]:
data['Gender'] = data['Gender'].map({'Female' : 1, 'Male' : 0})

In [14]:
data['Geography'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [15]:
data['Geography'] = data['Geography'].map({'France' : 0, 'Spain' : 2, 'Germany' : 3})

In [16]:
# 3.2 Categorical features:
data[:2]

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,1,15634602,Hargrave,619,0,1,42,2,0.00,1,1,1,101348.88
1,2,15647311,Hill,608,2,1,41,1,83807.86,1,0,1,112542.58

In [19]:
data['CustomerId'].duplicated().sum()

0

In [21]:
data = data.drop(columns = ['RowNumber','CustomerId', 'Surname'])

In [22]:
data['Tenure'].unique()

array([ 2,  1,  8,  7,  4,  6,  3, 10,  5,  9,  0])

In [25]:
X_train,X_test, y_train,y_test = train_test_split(data, y, test_size = 0.25)

In [28]:
X_train.shape
X_test.shape

(7500, 10)

(2500, 10)

In [29]:
mm = MinMaxScaler()
mm.fit(X_train)

MinMaxScaler()

In [30]:
X_train = mm.transform(X_train)
X_test = mm.transform(X_test)

## Model

In [61]:
# 6.0
model = tf.keras.Sequential()

In [62]:
# 6.1
model.add( tf.keras.layers.Input(shape = (10,) ))

In [63]:
# 6.2 Start 
model.add(tf.keras.layers.Dense(40, activation = 'relu'))  # MAke it 5 and then 20 (not more or less)

In [64]:
# 6.2.1 Experiment with adding a dropout layer
#       but then increase number of units in Dense layer from 20 to 40
#model.add(tf.keras.layers.Dropout(rate = 0.5 ))

In [65]:
model.add(tf.keras.layers.Dense(20, activation = 'relu'))  
#model.add(tf.keras.layers.Dropout(rate = 0.5 ))

In [66]:
model.add(tf.keras.layers.Dense(10, activation = 'relu'))  
#model.add(tf.keras.layers.Dropout(rate = 0.5 ))

In [67]:
# 6.3 Experiment first with activation of sigmoid
#     and then no activation function
model.add(tf.keras.layers.Dense(1, activation = 'sigmoid'))    # Keep sigmoid; then remove sigmoid

In [68]:
# 6.4 Model summary:
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 40)                440

 dense_13 (Dense)            (None, 20)                820

 dense_14 (Dense)            (None, 10)                210

 dense_15 (Dense)            (None, 1)                 11

=================================================================
Total params: 1,481
Trainable params: 1,481
Non-trainable params: 0
_________________________________________________________________

In [69]:
# 6.5 Compile model
#     Expt with adam
model.compile(
                 loss = 'binary_crossentropy',
                 optimizer = 'adam',  # Try first with default optimizer and then with 'adam'
                                      #  may not make much difference 
                 metrics = ['acc']

              )

In [70]:
# 7.0
history = model.fit(X_train,y_train,
                    epochs = 70,
                    validation_data = (X_test, y_test)
                   )

Epoch 1/70
235/235 [==============================] - 1s 3ms/step - loss: 0.5015 - acc: 0.7916 - val_loss: 0.4396 - val_acc: 0.8100
Epoch 2/70
235/235 [==============================] - 1s 3ms/step - loss: 0.4526 - acc: 0.7927 - val_loss: 0.3981 - val_acc: 0.8232
Epoch 3/70
235/235 [==============================] - 1s 3ms/step - loss: 0.4085 - acc: 0.8223 - val_loss: 0.3671 - val_acc: 0.8452
Epoch 4/70
235/235 [==============================] - 1s 2ms/step - loss: 0.3816 - acc: 0.8399 - val_loss: 0.3553 - val_acc: 0.8556
Epoch 5/70
235/235 [==============================] - 1s 3ms/step - loss: 0.3695 - acc: 0.8463 - val_loss: 0.3477 - val_acc: 0.8644
Epoch 6/70
235/235 [==============================] - 1s 3ms/step - loss: 0.3657 - acc: 0.8477 - val_loss: 0.3497 - val_acc: 0.8596
Epoch 7/70
235/235 [==============================] - 1s 3ms/step - loss: 0.3617 - acc: 0.8493 - val_loss: 0.3442 - val_acc: 0.8660
Epoch 8/70
235/235 [==============================] - 1s 3ms/step - loss: 0.3571 - acc: 0.8531 - val_loss: 0.3596 - val_acc: 0.8552
Epoch 9/70
235/235 [==============================] - 1s 2ms/step - loss: 0.3571 - acc: 0.8504 - val_loss: 0.3422 - val_acc: 0.8632
Epoch 10/70
235/235 [==============================] - 1s 2ms/step - loss: 0.3547 - acc: 0.8553 - val_loss: 0.3352 - val_acc: 0.8692
Epoch 11/70
235/235 [==============================] - 1s 3ms/step - loss: 0.3518 - acc: 0.8560 - val_loss: 0.3318 - val_acc: 0.8696
Epoch 12/70
235/235 [==============================] - 1s 3ms/step - loss: 0.3493 - acc: 0.8548 - val_loss: 0.3391 - val_acc: 0.8684
Epoch 13/70
235/235 [==============================] - 1s 2ms/step - loss: 0.3495 - acc: 0.8556 - val_loss: 0.3306 - val_acc: 0.8680
Epoch 14/70
235/235 [==============================] - 1s 3ms/step - loss: 0.3497 - acc: 0.8552 - val_loss: 0.3318 - val_acc: 0.8704
Epoch 15/70
235/235 [==============================] - 1s 2ms/step - loss: 0.3478 - acc: 0.8559 - val_loss: 0.3292 - val_acc: 0.8680
Epoch 16/70
235/235 [==============================] - 1s 3ms/step - loss: 0.3454 - acc: 0.8541 - val_loss: 0.3325 - val_acc: 0.8716
Epoch 17/70
235/235 [==============================] - 1s 3ms/step - loss: 0.3450 - acc: 0.8565 - val_loss: 0.3341 - val_acc: 0.8696
Epoch 18/70
235/235 [==============================] - 1s 3ms/step - loss: 0.3435 - acc: 0.8559 - val_loss: 0.3276 - val_acc: 0.8700
Epoch 19/70
235/235 [==============================] - 1s 3ms/step - loss: 0.3420 - acc: 0.8567 - val_loss: 0.3289 - val_acc: 0.8712
Epoch 20/70
235/235 [==============================] - 1s 3ms/step - loss: 0.3413 - acc: 0.8584 - val_loss: 0.3395 - val_acc: 0.8668
Epoch 21/70
235/235 [==============================] - 1s 2ms/step - loss: 0.3401 - acc: 0.8592 - val_loss: 0.3284 - val_acc: 0.8720
Epoch 22/70
235/235 [==============================] - 1s 3ms/step - loss: 0.3389 - acc: 0.8600 - val_loss: 0.3274 - val_acc: 0.8724
Epoch 23/70
235/235 [==============================] - 1s 3ms/step - loss: 0.3369 - acc: 0.8601 - val_loss: 0.3276 - val_acc: 0.8700
Epoch 24/70
235/235 [==============================] - 1s 2ms/step - loss: 0.3360 - acc: 0.8591 - val_loss: 0.3253 - val_acc: 0.8668
Epoch 25/70
235/235 [==============================] - 1s 3ms/step - loss: 0.3355 - acc: 0.8577 - val_loss: 0.3321 - val_acc: 0.8692
Epoch 26/70
235/235 [==============================] - 1s 3ms/step - loss: 0.3339 - acc: 0.8593 - val_loss: 0.3406 - val_acc: 0.8620
Epoch 27/70
235/235 [==============================] - 1s 3ms/step - loss: 0.3337 - acc: 0.8601 - val_loss: 0.3365 - val_acc: 0.8616
Epoch 28/70
235/235 [==============================] - 1s 4ms/step - loss: 0.3342 - acc: 0.8615 - val_loss: 0.3264 - val_acc: 0.8676
Epoch 29/70
235/235 [==============================] - 1s 4ms/step - loss: 0.3331 - acc: 0.8601 - val_loss: 0.3367 - val_acc: 0.8576
Epoch 30/70
235/235 [==============================] - 1s 4ms/step - loss: 0.3337 - acc: 0.8593 - val_loss: 0.3315 - val_acc: 0.8628
Epoch 31/70
235/235 [==============================] - 1s 4ms/step - loss: 0.3316 - acc: 0.8637 - val_loss: 0.3339 - val_acc: 0.8648
Epoch 32/70
235/235 [==============================] - 1s 3ms/step - loss: 0.3304 - acc: 0.8612 - val_loss: 0.3306 - val_acc: 0.8660
Epoch 33/70
235/235 [==============================] - 1s 3ms/step - loss: 0.3288 - acc: 0.8647 - val_loss: 0.3274 - val_acc: 0.8664
Epoch 34/70
235/235 [==============================] - 1s 2ms/step - loss: 0.3288 - acc: 0.8632 - val_loss: 0.3260 - val_acc: 0.8688
Epoch 35/70
235/235 [==============================] - 1s 2ms/step - loss: 0.3281 - acc: 0.8637 - val_loss: 0.3363 - val_acc: 0.8592
Epoch 36/70
235/235 [==============================] - 1s 2ms/step - loss: 0.3277 - acc: 0.8624 - val_loss: 0.3249 - val_acc: 0.8680
Epoch 37/70
235/235 [==============================] - 1s 3ms/step - loss: 0.3264 - acc: 0.8625 - val_loss: 0.3246 - val_acc: 0.8712
Epoch 38/70
235/235 [==============================] - 1s 2ms/step - loss: 0.3250 - acc: 0.8633 - val_loss: 0.3325 - val_acc: 0.8660
Epoch 39/70
235/235 [==============================] - 1s 2ms/step - loss: 0.3262 - acc: 0.8601 - val_loss: 0.3262 - val_acc: 0.8688
Epoch 40/70
235/235 [==============================] - 1s 2ms/step - loss: 0.3247 - acc: 0.8663 - val_loss: 0.3310 - val_acc: 0.8668
Epoch 41/70
235/235 [==============================] - 1s 3ms/step - loss: 0.3245 - acc: 0.8647 - val_loss: 0.3278 - val_acc: 0.8696
Epoch 42/70
235/235 [==============================] - 1s 3ms/step - loss: 0.3243 - acc: 0.8639 - val_loss: 0.3276 - val_acc: 0.8728
Epoch 43/70
235/235 [==============================] - 1s 3ms/step - loss: 0.3246 - acc: 0.8629 - val_loss: 0.3252 - val_acc: 0.8700
Epoch 44/70
235/235 [==============================] - 1s 3ms/step - loss: 0.3233 - acc: 0.8631 - val_loss: 0.3315 - val_acc: 0.8640
Epoch 45/70
235/235 [==============================] - 1s 3ms/step - loss: 0.3213 - acc: 0.8660 - val_loss: 0.3300 - val_acc: 0.8644
Epoch 46/70
235/235 [==============================] - 1s 3ms/step - loss: 0.3206 - acc: 0.8633 - val_loss: 0.3309 - val_acc: 0.8632
Epoch 47/70
235/235 [==============================] - 1s 2ms/step - loss: 0.3214 - acc: 0.8669 - val_loss: 0.3270 - val_acc: 0.8712
Epoch 48/70
235/235 [==============================] - 1s 3ms/step - loss: 0.3213 - acc: 0.8645 - val_loss: 0.3266 - val_acc: 0.8680
Epoch 49/70
235/235 [==============================] - 1s 2ms/step - loss: 0.3213 - acc: 0.8668 - val_loss: 0.3272 - val_acc: 0.8712
Epoch 50/70
235/235 [==============================] - 1s 3ms/step - loss: 0.3199 - acc: 0.8653 - val_loss: 0.3258 - val_acc: 0.8680
Epoch 51/70
235/235 [==============================] - 1s 2ms/step - loss: 0.3183 - acc: 0.8656 - val_loss: 0.3341 - val_acc: 0.8628
Epoch 52/70
235/235 [==============================] - 1s 3ms/step - loss: 0.3179 - acc: 0.8675 - val_loss: 0.3271 - val_acc: 0.8708
Epoch 53/70
235/235 [==============================] - 1s 3ms/step - loss: 0.3173 - acc: 0.8671 - val_loss: 0.3572 - val_acc: 0.8480
Epoch 54/70
235/235 [==============================] - 1s 3ms/step - loss: 0.3180 - acc: 0.8669 - val_loss: 0.3290 - val_acc: 0.8668
Epoch 55/70
235/235 [==============================] - 1s 2ms/step - loss: 0.3173 - acc: 0.8661 - val_loss: 0.3401 - val_acc: 0.8600
Epoch 56/70
235/235 [==============================] - 1s 3ms/step - loss: 0.3176 - acc: 0.8661 - val_loss: 0.3306 - val_acc: 0.8700
Epoch 57/70
235/235 [==============================] - 1s 2ms/step - loss: 0.3193 - acc: 0.8663 - val_loss: 0.3417 - val_acc: 0.8588
Epoch 58/70
235/235 [==============================] - 1s 3ms/step - loss: 0.3165 - acc: 0.8679 - val_loss: 0.3379 - val_acc: 0.8592
Epoch 59/70
235/235 [==============================] - 1s 3ms/step - loss: 0.3164 - acc: 0.8669 - val_loss: 0.3388 - val_acc: 0.8660
Epoch 60/70
235/235 [==============================] - 1s 3ms/step - loss: 0.3140 - acc: 0.8685 - val_loss: 0.3333 - val_acc: 0.8668
Epoch 61/70
235/235 [==============================] - 1s 2ms/step - loss: 0.3150 - acc: 0.8700 - val_loss: 0.3377 - val_acc: 0.8648
Epoch 62/70
235/235 [==============================] - 1s 3ms/step - loss: 0.3155 - acc: 0.8669 - val_loss: 0.3318 - val_acc: 0.8716
Epoch 63/70
235/235 [==============================] - 1s 3ms/step - loss: 0.3143 - acc: 0.8687 - val_loss: 0.3565 - val_acc: 0.8492
Epoch 64/70
235/235 [==============================] - 1s 3ms/step - loss: 0.3150 - acc: 0.8675 - val_loss: 0.3312 - val_acc: 0.8720
Epoch 65/70
235/235 [==============================] - 1s 3ms/step - loss: 0.3123 - acc: 0.8681 - val_loss: 0.3519 - val_acc: 0.8564
Epoch 66/70
235/235 [==============================] - 1s 3ms/step - loss: 0.3141 - acc: 0.8643 - val_loss: 0.3349 - val_acc: 0.8676
Epoch 67/70
235/235 [==============================] - 1s 2ms/step - loss: 0.3136 - acc: 0.8668 - val_loss: 0.3442 - val_acc: 0.8576
Epoch 68/70
235/235 [==============================] - 1s 2ms/step - loss: 0.3118 - acc: 0.8703 - val_loss: 0.3376 - val_acc: 0.8648
Epoch 69/70
235/235 [==============================] - 1s 3ms/step - loss: 0.3109 - acc: 0.8679 - val_loss: 0.3325 - val_acc: 0.8724
Epoch 70/70
235/235 [==============================] - 1s 2ms/step - loss: 0.3147 - acc: 0.8684 - val_loss: 0.3506 - val_acc: 0.8548

In [ ]:
# 7.1
model.evaluate(X_test,y_test)

97/97 [==============================] - 0s 2ms/step - loss: 0.6292 - mae: 0.6292

[0.6291962265968323, 0.6291962265968323]

In [ ]:
######################### I am done #################